{% extends "base.html" %}
{% block page_name %}
Search
{% endblock page_name %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
<div>
    <h2>search</h2>
    <form method="get" action={% url 'rooms:search' %}>
        <div>
            <label for="city">City</label>
            <input value="{{city}}" placeholder="Search by City" name="city" />
        </div>
        <div>
            <label for="country">Country</label>
            <select id="country" name="country">
                <option value==0 {% ifequal s_country 0 %}selected{% endifequal %}>Anywhere
                </option>
                {% for country in countries %}
                <option value="{{country.code}}" {% ifequal country.code s_country %}selected{% endifequal %}>
                    {{country.name}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="room_type">Room Type</label>
            <select id="room_type" name="room_type">
                <option value="0" {% ifequal s_room_type 0 %}selected{% endifequal %}>Any kind
                </option>
                {% for room_type in room_types %}
                <option value="{{room_type.pk}}" {% ifequal room_type.pk s_room_type %}selected{% endifequal %}>
                    {{room_type.name}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="price">price</label>
            <input type="number" value="{{price}}" id="price" placeholder="Price" name="price" />
        </div>
        <div>
            <label for="guests">guests</label>
            <input type="number" value="{{guests}}" id="guests" placeholder="Guests" name="guests" />
        </div>
        <div>
            <label for="beds">Beds</label>
            <input type="number" value="{{beds}}" id="beds" placeholder="beds" name="beds" />
        </div>
        <div>
            <label for="bedrooms">Bedrooms</label>
            <input type="number" value="{{bedrooms}}" id="bedrooms" placeholder="bedrooms" name="bedrooms" />
        </div>
        <div>
            <label for="baths">Baths</label>
            <input type="number" value="{{baths}}" id="baths" placeholder="baths" name="baths" />
        </div>
        <div>
            <label for="instant">Instant Book Only?</label>
            <input type="checkbox" {% if instant %}checked{% endif %} value="{{instant}}" id="instant" name="instant" />
        </div>
        <div>
            <label for="superhost">Super host Only?</label>
            <input type="checkbox" {% if superhost %}checked{% endif %} value="{{superhost}}" id="superhost"
                name="instant" />
        </div>
        <div>
            <h3>Amenities</h3>
            <ul>
                {% for amenity in amenities %}
                <li>
                    <label for="a_{{amenity.pk}}">{{amenity.name}}</label>
                    <input type="checkbox" 
                    id="a_{{amenity.pk}}" 
                    value="{{amenity.pk}}" 
                    name="amenities" 
                    {% if amenity.pk|slugify in s_amenities %}checked{% endif %} />
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Facilities</h3>
            <ul>
                {% for facility in facilities %}
                <li>
                    <label for="f_{{facility.pk}}">{{facility.name}}</label>
                    <input type="checkbox" 
                    id="f_{{facility.pk}}" 
                    value="{{facility.pk}}" 
                    name="facilities" 
                    {% if facility.pk|slugify in s_facilities %}checked{% endif %} />
                </li>
                {% endfor %}
            </ul>
        </div>
        <button>Search</button>
    </form>
</div>
<div>
    <h3>Result</h3>
    {% for room in rooms %}
    <h3>{{room.name}}</h3>
    {% endfor %}
</div>
{% endblock %}